html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title Group23
    body.container
        h2 Login
        p Please Login to start your session

        form(name="loginForm",method="POST").form-group
            label Username
            input(type="text", name="username",placeholder="Username").form-control
            label Password
            input(type="password",name="password",placeholder="Password").form-control
            br
            input(type="submit" value="login").btn.btn-primary

        p Don't Have an account? register
            a(href="/auth/register")  here
        p 
            a(href="/auth/forgot-password") forgot password?