html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title Group23
    body.container
        h2 Register
        p Please register to start your session

        form(name="loginForm",method="POST").form-group
            label Name
            input(type="text" placeholder="Name", name="name").form-control
            label Email
            input(type="text" placeholder="Email",name="email").form-control
            label Username
            input(type="text", name="username",placeholder="Username").form-control
            label Password
            input(type="password",name="password",placeholder="Password").form-control
            br
            input(type="submit" value="register").btn.btn-primary

        p Already Logged In? back to
            a(href="/auth/login")  login
        p 
